3rd-nosubmodule/xapian/xapian-core/aconfigure.tmp
3rd-nosubmodule/xapian/xapian-core/autom4te.cache/
3rd-nosubmodule/xapian/xapian-core/configure

src/server/ddf_nodeserver.cpp~RF4b426f8.TMP

src/newcode/ddf_node_items_server.cpp~RF15f4e9.TMP

debug/ddf_node/.__afs09C9
*.[oa]
*~
*.obj
*.pro.user*
.tmp/*
*.lo
*.la
contrib/sys/*/*/*/*
contrib/sys/*/*/.objects/*
contrib/sys/*/lib/*
contrib/sys/*/dll/*
contrib/sys/*/bin/*
!contrib/sys/*/*/*.udoc
!contrib/sys/*/*.udoc
!contrib/sys/*.udoc
!contrib/sys/*/doocs64_install/server/*.bat
#sys/*/*/*/*
sys/*/*/.objects/*
#sys/*/lib/*
#sys/*/dll/*
sys/*/bin/*
sys/*/src/*
!sys/*/*/*.udoc
!sys/*/*.udoc
!sys/*.udoc
!sys/*/install/server/*.bat

prj/*/*/*
!prj/*/*_vs*/*.sln
!prj/*/*_vs*/*.vcxproj
!prj/*/*_vs*/*.vcxproj.filters
!prj/*/*_vs*/*.vcxproj.user
!prj/*/*_vs*/*.vdproj
!prj/*/*/*.pro
!prj/*/*_qt/*.pri
!prj/*/*/*.cmake
!prj/*/*_mkfl/Makefile
!prj/*/*_wcmake/*.bat
!prj/*/*_wcmake/scripts
!prj/*/*_cmake/*.bat
!prj/*/*_cmake/scripts
!prj/*/*_script/*.sh
!prj/*/*_script/*.bat
!prj/*/*_cmake/*.sh
!prj/*/*_cmake/scripts/*.sh
!prj/*/*_vs*/*.h
!prj/common/*
!prj/common/*/*
!prj/common/*/*/*
prj/common/common_qt/sys_common.pri.autosave

*~AutoRecover.*
src/server/ddf_nodeserver.cpp~RF31d5734.TMP

workspaces/*/*
!workspaces/*/*.sln
moc_*.cpp
#.gitattributes
.DS_Store
.qmake.stash
src/.original/*/*
contrib/doocs/*
*.objects
*.objects/*
*.suo
*.VC.VC.opendb
*.VC.db
#include/.private/*.h
#include/.private/*/*.h

debug/*/*/*
!debug/*/*/*.conf
!debug/*.sh
!debug/*.bat
!debug/*.txt
!debug/*.md
*.hpp*.TMP

*.pdb
*.idb
*.DLL
#*.dll
#*.user
*.log
*.tlog
!../RadIconDemo64/Debug64/eleye716_x64.dll
!../RadIconDemo64/Debug64/el_disp64.dll
debug/*.exe
docs/~$*
docs/blob/*
!docs/blob/README.md


debug/zp_manager/zp_manager
debug/zp_meta/zp_meta
debug/zp_meta/m1/*
debug/zp_node/zp_node
debug/zp_node/d1/*
debug/data_server/data_server
debug/data_server/d1/*

3rd-nosubmodule/*/src/protoc
3rd-nosubmodule/capnproto-c++-0.6.1/builds/*
3rd-nosubmodule/capnproto-c++-0.6.1/builds/*/*
3rd-nosubmodule/xapian/xapian-core/Makefile
*.dirstamp
.deps
*.Po
*.Plo
3rd-nosubmodule/xapian/xapian-core/config.h
config.status
3rd-nosubmodule/xapian/xapian-core/docs/Makefile
3rd-nosubmodule/xapian/xapian-core/docs/*.conf
3rd-nosubmodule/xapian/xapian-core/include/xapian/version.h
3rd-nosubmodule/xapian/xapian-core/include/xapian/version.h.timestamp
3rd-nosubmodule/xapian/xapian-core/libtool
3rd-nosubmodule/xapian/xapian-core/makemanpage
3rd-nosubmodule/xapian/xapian-core/pkgconfig/xapian-core.pc
3rd-nosubmodule/xapian/xapian-core/stamp-h1
3rd-nosubmodule/xapian/xapian-core/tests/Makefile
3rd-nosubmodule/xapian/xapian-core/tests/perftest/get_machine_info
3rd-nosubmodule/xapian/xapian-core/tests/runsrv
3rd-nosubmodule/xapian/xapian-core/tests/runtest
3rd-nosubmodule/xapian/xapian-core/tests/submitperftest
3rd-nosubmodule/xapian/xapian-core/xapian-config

3rd-nosubmodule/glog/builds/

3rd-nosubmodule/xapian/xapian-core/.libs/
3rd-nosubmodule/xapian/xapian-core/bin/.libs/
3rd-nosubmodule/xapian/xapian-core/bin/xapian-check
3rd-nosubmodule/xapian/xapian-core/bin/xapian-compact
3rd-nosubmodule/xapian/xapian-core/bin/xapian-delve
3rd-nosubmodule/xapian/xapian-core/bin/xapian-inspect
3rd-nosubmodule/xapian/xapian-core/bin/xapian-progsrv
3rd-nosubmodule/xapian/xapian-core/bin/xapian-replicate
3rd-nosubmodule/xapian/xapian-core/bin/xapian-replicate-server
3rd-nosubmodule/xapian/xapian-core/bin/xapian-tcpsrv
3rd-nosubmodule/xapian/xapian-core/examples/.libs/
3rd-nosubmodule/xapian/xapian-core/examples/copydatabase
3rd-nosubmodule/xapian/xapian-core/examples/quest
3rd-nosubmodule/xapian/xapian-core/examples/simpleexpand
3rd-nosubmodule/xapian/xapian-core/examples/simpleindex
3rd-nosubmodule/xapian/xapian-core/examples/simplesearch
3rd-nosubmodule/xapian/xapian-core/examples/xapian-metadata

3rd-nosubmodule/protobuf-2.6.1/autom4te.cache/
*.Plo

3rd-nosubmodule/protobuf-2.6.1/Makefile
3rd-nosubmodule/protobuf-2.6.1/src/Makefile.in
3rd-nosubmodule/protobuf-2.6.1/config.status
3rd-nosubmodule/protobuf-2.6.1/gtest/Makefile
3rd-nosubmodule/protobuf-2.6.1/gtest/config.status
3rd-nosubmodule/protobuf-2.6.1/gtest/libtool
3rd-nosubmodule/protobuf-2.6.1/libtool
3rd-nosubmodule/protobuf-2.6.1/src/.libs/libprotobuf-lite.so.9.0.1
3rd-nosubmodule/protobuf-2.6.1/src/.libs/libprotobuf.so.9.0.1
3rd-nosubmodule/protobuf-2.6.1/src/.libs/libprotoc.so.9.0.1
3rd-nosubmodule/protobuf-2.6.1/src/.libs/lt-protoc
3rd-nosubmodule/protobuf-2.6.1/src/.libs/protoc
3rd-nosubmodule/protobuf-2.6.1/src/Makefile
3rd-nosubmodule/protobuf-2.6.1/src/Makefile.in

3rd-nosubmodule/protobuf-2.6.1/Makefile.in
3rd-nosubmodule/protobuf-2.6.1/aclocal.m4
3rd-nosubmodule/protobuf-2.6.1/compile
3rd-nosubmodule/protobuf-2.6.1/config.guess
3rd-nosubmodule/protobuf-2.6.1/config.h
3rd-nosubmodule/protobuf-2.6.1/config.h.in
3rd-nosubmodule/protobuf-2.6.1/config.sub
3rd-nosubmodule/protobuf-2.6.1/configure
3rd-nosubmodule/protobuf-2.6.1/depcomp
3rd-nosubmodule/protobuf-2.6.1/gtest/Makefile.in
3rd-nosubmodule/protobuf-2.6.1/gtest/aclocal.m4
3rd-nosubmodule/protobuf-2.6.1/gtest/autom4te.cache/
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/compile
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/config.guess
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/config.h
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/config.h.in
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/config.sub
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/depcomp
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/install-sh
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/ltmain.sh
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/missing
3rd-nosubmodule/protobuf-2.6.1/gtest/build-aux/test-driver
3rd-nosubmodule/protobuf-2.6.1/gtest/configure
3rd-nosubmodule/protobuf-2.6.1/gtest/m4/libtool.m4
3rd-nosubmodule/protobuf-2.6.1/gtest/m4/ltoptions.m4
3rd-nosubmodule/protobuf-2.6.1/gtest/m4/ltsugar.m4
3rd-nosubmodule/protobuf-2.6.1/gtest/m4/ltversion.m4
3rd-nosubmodule/protobuf-2.6.1/gtest/m4/lt~obsolete.m4
3rd-nosubmodule/protobuf-2.6.1/install-sh
3rd-nosubmodule/protobuf-2.6.1/ltmain.sh
3rd-nosubmodule/protobuf-2.6.1/m4/libtool.m4
3rd-nosubmodule/protobuf-2.6.1/m4/ltoptions.m4
3rd-nosubmodule/protobuf-2.6.1/m4/ltsugar.m4
3rd-nosubmodule/protobuf-2.6.1/m4/ltversion.m4
3rd-nosubmodule/protobuf-2.6.1/m4/lt~obsolete.m4
3rd-nosubmodule/protobuf-2.6.1/missing
3rd-nosubmodule/protobuf-2.6.1/src/.libs/libprotobuf-lite.lai
3rd-nosubmodule/protobuf-2.6.1/src/.libs/libprotobuf.lai
3rd-nosubmodule/protobuf-2.6.1/src/.libs/libprotoc.lai
3rd-nosubmodule/protobuf-2.6.1/test-driver

3rd-nosubmodule/glog/.libs/
3rd-nosubmodule/glog/Makefile
3rd-nosubmodule/glog/Makefile.in
3rd-nosubmodule/glog/aclocal.m4
3rd-nosubmodule/glog/autom4te.cache/
3rd-nosubmodule/glog/compile
3rd-nosubmodule/glog/config.guess
3rd-nosubmodule/glog/config.sub
3rd-nosubmodule/glog/configure
3rd-nosubmodule/glog/demangle_unittest
3rd-nosubmodule/glog/depcomp
3rd-nosubmodule/glog/install-sh
3rd-nosubmodule/glog/libglog.pc
3rd-nosubmodule/glog/libtool
3rd-nosubmodule/glog/logging_striptest0
3rd-nosubmodule/glog/logging_striptest10
3rd-nosubmodule/glog/logging_striptest2
3rd-nosubmodule/glog/logging_unittest
3rd-nosubmodule/glog/missing
3rd-nosubmodule/glog/signalhandler_unittest
3rd-nosubmodule/glog/src/config.h
3rd-nosubmodule/glog/src/glog/logging.h
3rd-nosubmodule/glog/src/glog/raw_logging.h
3rd-nosubmodule/glog/src/glog/stl_logging.h
3rd-nosubmodule/glog/src/glog/vlog_is_on.h
3rd-nosubmodule/glog/src/stamp-h1
3rd-nosubmodule/glog/stacktrace_unittest
3rd-nosubmodule/glog/stl_logging_unittest
3rd-nosubmodule/glog/symbolize_pie_unittest
3rd-nosubmodule/glog/symbolize_unittest
3rd-nosubmodule/glog/test-driver
3rd-nosubmodule/glog/utilities_unittest

debug/data_server/data2/d1/
